*{
   margin: 0;
   padding: 0;
    background-color: oklab(90.54100000000001% -0.14945 -0.0395);

}
h1{
    color: rgb(7, 69, 105);
}
img{
    width:200px;
 }
 
 .swimming{
    color: hsl(313, 97%, 61%);
 }
 
 .hobbies{
    color: #b81f92;
 }
 
 .colors{
    color: #b81f92;
 }


.first{
   border-style: dotted;
   margin: 10px 15px;
   padding: 30px;
}

.child{
   background-color: blueviolet;
   display: flex;
   /* flex-direction:row; */
   justify-content: space-between;
}

/* blue container */
.blue-container{
   border:3px hwb(315 12% 28%) solid; 
   display: flex;
   flex-direction: row;
}

.Flex-items{
   border:2px lab(26.27% 51.93 -76.93) solid;
   margin:5px ;
}