*{
   margin: 0;
   padding: 0;
    background-color: oklab(90.54100000000001% -0.14945 -0.0395);

}
h1{
    color: rgb(7, 69, 105);
}
img{
    width:200px;
 }
 
 .swimming{
    color: hsl(313, 97%, 61%);
 }
 
 .hobbies{
    color: #b81f92;
 }
 
 .colors{
    color: #b81f92;
 }


.first{
   border-style: dotted;
   margin: 10px 15px;
   padding: 30px;
}

/*My flexbox properties*/

.child{
   background-color: oklab(41.544% 0.14561 -0.052);
   display: flex;
   /*flex-direction: row;*/
   /*gap: 10px;*/
   justify-content: space-between;
}